/* Callouts */
.caution, .note, .warning {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    font-style: initial;
}

.caution {
    border-left-color: #f0ad4e;
}

.note {
    border-left-color: #428bca;
}

.warning {
    border-left-color: #d9534f;
}

/* wide-image */
.figure.caption {
    display: block;
    font-size: .8rem;
    color: #81929d;
    text-align: center;
    /* font-style: italic; */
    margin-top: -1rem;
    padding-right: 10px;
    padding-left: 10px;
}

/* Table Item */
.table-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 63rem; */
}

/* Item */
.item {
    flex-grow: 1;
    max-width: 20rem;
    margin: 1rem;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    border-radius: 0.3rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: transform 0.2s cubic-bezier(0.25,0.8,0.25,1), box-shadow 0.2s cubic-bezier(0.25,0.8,0.25,1);
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.19), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.23);
}
.blog-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.item-img-container {
    position: relative;
    padding: .5rem;
}
.item-img {
    border-radius: 0.3rem 0.3rem 0 0;
    margin: 0 0 -0.28em 0;
    max-height: 15em;
    object-fit: cover;
}
.item-img-overlay {
    border-radius: 0.3rem 0.3rem 0 0;
    position: absolute;
    top: 0;
    font-size: 1.27em;
    text-align: center;
    padding: 1em 0 0.8em 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.item-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1em;
}
.item-body a {
    text-decoration: none;
}
.item-title {
    margin: 0;
    line-height: 1.2;
}
.item-caption {
    display: block;
    font-size: .9rem;
    color: #81929d;
    padding-top: .2rem;
}
.item-description {
    margin: 1em 0;
    line-height: 1.5;
    flex-grow: 1;
}
.item-subtext {
    text-align: center;
    font-size: 0.8em;
}
.item-button {
    background-color: #FF9900;
    border: 2px solid #FF9900; 
    border-radius: 3px;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
}
.item-button > a {
    color: white;
}
.item-button:hover > a {
    color: #146EB4;
}
.item-button:hover {
    border: 2px solid #146EB4; 
    background-color: white;
}
@media screen and (pointer: coarse) {
 .item-hover {
    transform: scale(0.95);
    box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
}
@media not screen and (pointer: coarse) {
    .item:hover {
        transform: scale(0.97);
        box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
    .item:active {
        transform: scale(1);
    }
}
/* Medium devices (tablets, ~641px and up) */
@media only screen and (min-width: 40.063em) {
    .item {
        max-width: 18rem;
    }
}