/* Callouts */
.caution, .note, .warning {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #EEE;
    border-left-width: 5px;
    border-radius: 3px;
    font-style: initial;
}

.caution {
    border-left-color: #F0AD4E;
}

.note {
    border-left-color: #428BCA;
}

.warning {
    border-left-color: #D9534F;
}

/* wide-img */
.wide-img-container>.caption {
    display: block;
    font-size: .8rem;
    color: #81929d;
    text-align: center;
    /* font-style: italic; */
    margin-top: .3rem;
}

/* Table Item */
.table-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 63rem; */
}

/* Common shortcode CSS */
.shortcode-card {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    margin: .5rem;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    border-radius: 0.3rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.19), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.23);
    transition: transform 0.2s cubic-bezier(0.25,0.8,0.25,1), box-shadow 0.2s cubic-bezier(0.25,0.8,0.25,1);
}
.shortcode-card-img-container {
    position: relative;
    padding: .5rem;
}
.shortcode-card-img-container img {
    margin: 0 0 -0.28em 0;
    object-fit: contain;
}
.shortcode-card-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1em;
}
.shortcode-card-body a {
    text-decoration: none;
}
.shortcode-card-title {
    margin: 0;
    line-height: 1.2;
}
.shortcode-card-caption {
    display: block;
    font-size: .9rem;
    color: #81929D;
    padding-top: .2rem;
}
.shortcode-card-description {
    margin: 1em 0;
    line-height: 1.5;
    flex-grow: 1;
}
.shortcode-card-subtext {
    text-align: center;
    font-size: 0.8em;
}
.shortcode-card-button {
    background-color: #FF9900;
    border: 2px solid #FF9900; 
    border-radius: 3px;
    color: white;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
}
.shortcode-card-button > a {
    color: white;
}
.shortcode-card-button:hover > a {
    color: #146EB4;
}
.shortcode-card-button:hover {
    border: 2px solid #146EB4; 
    background-color: white;
}

/* Item */
.item {
    flex-direction: column;
    max-width: 22rem;
}
.item-img {
    border-radius: 0.3rem 0.3rem 0 0;
    max-height: 15em;
}

/* amzn-card */
.amzn-card {
    flex-direction: column;
    margin: 2rem;
}
.amzn-card-img {
    border-radius: 0.3rem 0.3rem 0 0;
    max-height: unset;
    height: 100%;
}
.amzn-card-button {
    min-width: 16rem;
}

@media screen and (pointer: coarse) {
    .shortcode-card-hover {
        transform: scale(0.95);
        box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
}
@media not screen and (pointer: coarse) {
    .shortcode-card:hover {
        transform: scale(0.97);
        box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
    .shortcode-card:active {
        transform: scale(1);
    }
}
/* Medium devices (tablets, ~641px and up) */
@media only screen and (min-width: 40.063em) {
    .item {
        max-width: 19rem;
    }
    .amzn-card {
        flex-direction: row;
        max-width: 57rem;
    }
    .amzn-card-img {
        border-radius: 0.3rem 0 0 0.3rem;
        /* max-height: 15em; */
        width: 15em;
    }
    .amzn-card-button {
        min-width: 16rem;
        align-self: flex-end;
    }
}