<div class="shortcode-card amzn-card">
  {{ $image := $.Page.Resources.GetMatch (.Get "name") }}
  <div class="shortcode-card-img-container">
    <picture>
      {{ $thumbnail := $image.Fit "400x300 Lanczos" }}
      <source srcset="{{ $thumbnail.Permalink }}">
      <a href="https://www.amazon.es/dp/{{ .Get "id" }}/ref=nosim?tag=comprar0c0-21" target="_blank" >
        <img src="{{ $thumbnail.Permalink }}" class="amzn-card-img" alt="{{ $image.Title }}">
      </a>
    </picture>
  </div>
  <article class="shortcode-card-body">
    <h3 class="shortcode-card-title">{{ .Get "title" }}</h3>
    <a href="https://www.amazon.es/dp/{{ .Get "id" }}/ref=nosim?tag=comprar0c0-21" target="_blank" >
      <span class="shortcode-card-caption">{{ $image.Name }}</span>
    </a>
    <div class="shortcode-card-description">{{ trim .Inner " \n" | markdownify }}</div>
    {{ if .Get "price" -}}
    <div class="shortcode-card-button amzn-card-button">
      <a href="https://www.amazon.es/dp/{{ .Get "id" }}/ref=nosim?tag=comprar0c0-21" target="_blank" >
        En <b>Amazon.es</b> desde {{ .Get "price" }}€
      </a>
    </div>
    {{- end }}
  </article>
</div>