<div class="shortcode-card item">
  {{ $image := $.Page.Resources.GetMatch (.Get "name") }}
  <div class="shortcode-card-img-container item-img-container">
    {{ $thumbnail := $image.Fit "300x300 Lanczos" }}
    <a href="https://www.amazon.es/dp/{{ .Get "id" }}/ref=nosim?tag=comprar0c0-21" target="_blank" >
      <amp-img src="{{ $thumbnail.Permalink }}" class="item-img" alt="{{ $image.Title }}"
      height="{{ $thumbnail.Height }}" width="{{ $thumbnail.Width }}" layout="responsive">
    </a>
  </div>
  <article class="shortcode-card-body">
    <h3 class="shortcode-card-title">{{ .Get "title" }}</h3>
    <a href="https://www.amazon.es/dp/{{ .Get "id" }}/ref=nosim?tag=comprar0c0-21" target="_blank" >
      <span class="shortcode-card-caption">{{ $image.Name }}</span>
    </a>
    <div class="shortcode-card-description">{{ trim .Inner " \n" | markdownify }}</div>
    {{ if .Get "price" -}}
    <div class="shortcode-card-button">
      <a href="https://www.amazon.es/dp/{{ .Get "id" }}/ref=nosim?tag=comprar0c0-21" target="_blank" >
        En <b>Amazon.es</b> desde {{ .Get "price" }}€
      </a>
    </div>
    {{- end }}
  </article>
</div>