<div class="item blog-item">
  {{ $image := $.Page.Resources.GetMatch (.Get "image") }}
  <div class="item-img-container">
    <picture>
      {{ $thumbnail := $image.Fit "500x500 Lanczos" }}
      <source srcset="{{ $thumbnail.Permalink }}">
      <a href="https://www.amazon.es/dp/{{ .Get "id" }}/ref=nosim?tag=comprar0c0-21">
      <img   src="{{ $thumbnail.Permalink }}" class="item-img" {{ if .Get "description" -}} alt="{{ .Get "description" }}"
        {{- end }}>
      </a>
    </picture>
  </div>
  <article class="item-body">
    <h3 class="item-title">{{ .Get "title" }}</h3>
    <a href="https://www.amazon.es/dp/{{ .Get "id" }}/ref=nosim?tag=comprar0c0-21">
      <span class="item-caption">{{ .Get "name" }}</span>
    </a>
    <div class="item-description">{{ if .Get "description" }}{{ .Get "description" }}{{ end }}</div>
    <div class="item-subtext muted-text">
      <a href="https://www.amazon.es/dp/{{ .Get "id" }}/ref=nosim?tag=comprar0c0-21">
        En Amazon.es desde {{ .Get "price" }}€
      </a>
    </div>
  </article>
</div>